@model ShareNotesV3.Models.Note

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="NoteId" />
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecture.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
